/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
.tm-footer{
  background: darken(@secondary-color, 5%);
  color:@white;
  padding: 25px;
  border-top:none;
  .uk-icon-button{
    background: @primary-color;
    color: @white;
    margin-right: 10px;
  }

}
.tm-fat-footer{
  background: @secondary-color;
  .tm-widget{
    background: @secondary-color;
    color: @light-grey;
    .uk-panel-title{
      text-transform: uppercase;
      color: @primary-color;
    }
  }
}